<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/default" method="get" autocomplete="off">
      <input type="submit" />
    </form>
  </body>
</html>
